/*------------General styles---------*/

 html {
    box-sizing: border-box;
  }

    body {
    background-color: #f4f5f6;
}

  *, *:before, *:after {
    box-sizing: inherit;
  } 

/* 
html {
    font-size: 16px;
  }
   */
 
  

  /*------------Header---------*/


.red {
    background-color: red;
}
.main {
    max-width: 1300px;
    padding: 0;
    background-color: white;
}
.weather-icon {
    height: 24px;
    width: 24px;
}
.svg {
    width: 396px;
    height: 60px;
    fill: white;
}
.weather-date {
    font-size: 14px;
}
.btn-subscribe {
    border-radius: 100px;
    background-color: #ffe400;
}
.btn-primary:hover {
    text-decoration: none;
    background-color: #ffe400;
}
.true-center {
    width: 240px;
}
.nav-link {
    color: black;
}
.nav-link:hover, .trending-item:hover{
    color: red;
}
.nav-container {
    width: 95%;
    margin-top: -13px;
    background-color: white;
    z-index: 2;
    position: relative;
}

.form-width {
    width: 20px;
}
.upper-tri {
    border-left: 13px solid transparent;
    border-right: 13px solid red;
    border-bottom: 13px solid transparent;
    height: 0;
    width: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.fa-bars {
    font-size: 28px;
    color: rgba(255, 255, 255, .55);
}
.fa-user {
    color: rgba(255, 255, 255, .55);
}

.card-font {
    font-size: 14px;
}
.underline-red:hover {
    text-decoration: underline;
    text-decoration-color: red;
}
.bottom-left {
    bottom: 0;
    left: 0;
}
.corner-background {
    background-color: rgba(255, 255, 255, .9)
}
.text-red {
    color: red;
}
.turn-red:hover {
    color: red;
}
.text-blue {
    color: #3581f4;
}
.small-title {
    font-size: 13px;
}
.small-bottom {
    font-size: 11px;
    background-color: #c2d4d7;
}

<img data-src="https://d.newsweek.com/en/full/1621435/marriage-divorce-relationships-therapy.jpg?w=397&amp;h=397&amp;f=8f87cf38c62824c685ebee9264cee9cb" alt="marriage, divorce, relationships, therapy " title="marriage, divorce, relationships, therapy " class="mapping-mobile lazysize lazyloaded" style="position: absolute;" src="https://d.newsweek.com/en/full/1621435/marriage-divorce-relationships-therapy.jpg?w=397&amp;h=397&amp;f=8f87cf38c62824c685ebee9264cee9cb" width="397" height="397">

<img data-src="https://d.newsweek.com/en/full/1620433/llama-black-lives-matter-protests-portland.jpg?w=397&amp;h=397&amp;f=805d426f9d2cfa182b49ebf501969c82" alt="Llama, Black Lives Matter, Protests, Portland " title="Llama, Black Lives Matter, Protests, Portland " class="mapping-mobile lazysize lazyloaded" style="position: absolute;" src="https://d.newsweek.com/en/full/1620433/llama-black-lives-matter-protests-portland.jpg?w=397&amp;h=397&amp;f=805d426f9d2cfa182b49ebf501969c82" width="397" height="397">