/* ------------General styles--------- */

html {
  box-sizing: border-box;
}

body {
  background-color: #f4f5f6;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* ------------Header--------- */

.red {
  background-color: red;
}

.main {
  max-width: 1300px;
  padding: 0;
  background-color: white;
}

.weather-icon {
  height: 24px;
  width: 24px;
}

.svg {
  width: 396px;
  height: 60px;
  fill: white;
}

.weather-date {
  font-size: 14px;
}

.btn-subscribe {
  border-radius: 100px;
  background-color: #ffe400;
}

.btn-primary:hover {
  text-decoration: none;
  background-color: #ffe400;
}

.true-center {
  width: 240px;
}

.nav-link {
  color: black;
}

.nav-link:hover,
.trending-item:hover {
  color: red;
}

.nav-container {
  width: 95%;
  margin-top: -13px;
  background-color: white;
  z-index: 2;
  position: relative;
}

.form-width {
  width: 20px;
}

.upper-tri {
  border-left: 13px solid transparent;
  border-right: 13px solid red;
  border-bottom: 13px solid transparent;
  height: 0;
  width: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.fa-bars {
  font-size: 28px;
  color: rgba(255, 255, 255, 0.55);
}

.fa-user {
  color: rgba(255, 255, 255, 0.55);
}

.card-font {
  font-size: 14px;
}

.underline-red:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

.bottom-left {
  bottom: 0;
  left: 0;
}

.corner-background {
  background-color: rgba(255, 255, 255, 0.9);
}

.text-red {
  color: red;
}

.turn-red:hover {
  color: red;
}

.text-blue {
  color: #3581f4;
}

.small-title {
  font-size: 13px;
}

.small-bottom {
  font-size: 11px;
  background-color: #c2d4d7;
}

.circle-picture {
  width: 79px;
}

.vs-position {
  left: 50%;
  margin-left: -12px;
  top: 50%;
  margin-top: -25px;
  border-radius: 50%;
  z-index: 3;
}

.article-logo {
  width: 28px;
}

.bg-sign-up,
.bg-sign-features {
  background-color: rgba(104, 104, 104, 0.15);
}

.bg-sign-features:hover {
  background-color: rgba(104, 104, 104, 0.4);
}

.font-sign {
  font-size: 16px;
}

.btn-sign {
  width: 70%;
  background-color: red;
}

.bg-issue {
  background-color: rgba(255, 255, 255, 0.9);
}

.font-bigger {
  font-size: 20px;
}

.limit-w {
  width: 111px;
}

.bg-sub {
  background: url(https://d.newsweek.com/en/full/1541302/starting5-homepage.png?w=397&amp;h=265&amp;q=90&amp;f=742bce9a6f72dd8f19ba2e7fd5db06e5&quot;) center center / cover no-repeat;
  width: 100% !important;
  max-width: 191px;
  z-index: 10;
}

.sub-img-l {
  left: 0;
}

.sub-img-r {
  left: 50px;
  top: 10px;
  z-index: 2;
}

.m-height {
  height: 250px;
}

.text-black {
  color: black;
}

.footer-i {
  height: 36px;
  fill: #f72210;
}

.small-font {
  font-size: 12px;
}

.footer-icon {
  font-size: 24px;
}

.footer-icon:hover {
  color: blue;
}

.bla:hover {
  color: black !important;
}

@media only screen and (max-width: 991px) {
  .svg {
    height: 20px;
    width: 132px;
  }
}

@media only screen and (max-width: 767px) {
  .fa-bars {
    font-size: 18px;
  }

  .btn-subscribe {
    font-size: 12px;
  }

  .bg-sign-up {
      width: 45%;
      margin-left: 22% !important;
  }

  .btn-sign {
      width: 100%;
  }
}
